@keyframes color {
  from {
  background-color: #0B0C0E;
}
  to {
  background-color: #282C34;
}
}
body {
  background-color: #282C34;
  color: #ABB2BF;
  animation-name: color;
  animation-duration: 3s;
}
p {
  font-family: monospace;
  font-size: 12px;
  position: fixed;
}
@keyframes down {
  from {
  margin-top: -100px;
} 
to {
  margin-top: 100px;
}
}
@keyframes up {
  from {transform: translateY(800px);}
  to {transform: translateY(300px);}
}
#icon {
  font-family: JetBrainsMono Nerd Font;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
  color: #61AFEF;
  animation-name: down;
  animation-duration: 3s;
  position: fixed;
  transform: translateX(600px);
}
#about {
  transform: translateY(300px);
  animation-duration: 3s;
  animation-name: up;
  position: fixed;
}

