body {
  background-image: element("wp");
}
#headers {
  font-size: 20px;
  position:relative;
}
h1 {
  text-align: center;
  color: white;
  transform: translateY(100px);
}
tr {
    margin: 50px;
    padding-right: 20px;
    border-radius: 5px;
}
a {
  font-family: JetBrainsMono Nerd Font;
  color: white;
}
div {
  margin-right: auto;
  margin-left: auto;
}
td {
  position: fixed;
  bottom: 30%;
  transform: translateY(30%) translateX(-50%);
}
#search {
  text-align: left;
  transform:  translateY(1550%) translateX(-50%);
  width: 300px;
  height: 20px;
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
  color: black;
  border-color: white;
  background-color: white;
  border-radius: 5px;
  border: 3px;
  display: inline-block;
  left: 50%;
  position: fixed;
}
#loop {
  font-family:JetBrainsMono Nerd Font;
  font-size: 20px;
  color: #61AFEF;
  position: absolute;
  right: 30%;
  top: 45%;
  transform: translate(40%, 50%);
}
a:link {
  text-decoration: none;
}
#wp {
  size: 10px;
  max-width: 23%;
  border: 3px;
  border-color: black;
  border-radius: 25px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
}
#search:focus {
  outline-color: #0B0C0E;
}
#date {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  text-align: center;
  bottom: 10%;
  left: 50%;
  transform: translateY(-90%) translateX(-50%);
  position: absolute;
}
